*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e8a87c;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 1px;
    margin: 30px 500px;
}
ul li{
    list-style-type: none;
    padding: 1rem 0;
}
ol li{
    padding: 1rem 0;
    letter-spacing: 1px;
    line-height: 45px;
}
a{
    text-decoration: none;
    color: rgb(36, 168, 36);
}
h1{
    margin-bottom: 1rem;
    color:rgb(14, 38, 145);
}
a:hover{
    text-decoration:dashed underline rgb(14, 38, 145);
}
p{
    padding: 1rem 0;
    line-height: 3rem;
}
img{
    margin: 25px auto;
}